<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="code">Código</label>
    <input type="number" id="code" formControlName="id" />
  </div>

  <div>
    <label for="desc">Descrição</label>
    <input type="text" id="desc" formControlName="description" />
  </div>

  <div>
    <label for="price">Custo</label>
    <input type="text" id="price" formControlName="price" />
  </div>

  <div>
    <label for="salePrice">Preço de Venda</label>
    <input type="number" id="salePrice" formControlName="salePrice" />
  </div>

  <button type="submit">Pesquisar <mat-icon>search</mat-icon></button>
  <button type="button" (click)="getProducts()">
    Resetar <mat-icon>clear</mat-icon>
  </button>
</form>
<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Descrição</th>
      <th>Custo (R$)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.description }}</td>
      <td>
        {{ product.price ? product.price.toString().replace(".", ",") : "---" }}
        <span
          ><mat-icon (click)="deleteProduct(product.id.toString())"
            >delete</mat-icon
          ><mat-icon [routerLink]="['/product', product.id]"
            >edit</mat-icon
          ></span
        >
      </td>
    </tr>
  </tbody>
</table>
