header {
  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 3px solid;
  border-bottom: 3px solid;
  border-color: black;

  box-shadow: black 0px 3px 15px 3px;
}

mat-icon {
  width: fit-content;
  height: fit-content;

  font-size: 2.5rem;

  position: absolute;
  left: 16px;

  cursor: pointer;

  transition: 0.3s;
}

mat-icon:hover {
  transform: scale(1.1);
}
